<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="{{ .Scratch.Get "sectionId" }}">
  <div class="my-auto" id="projects-content">
    <h2 class="mb-5"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p>{{ .Content }}</p>
    {{ $featuredPages := where .Pages "Params.featured" true }}
    {{ range $featuredPages }}
      {{ partial (printf "%s%s" .Section "Summary") . }}
    {{ end }}
  </div>
  {{ if gt .Pages $featuredPages }}
    <div class="my-auto">
      <!-- <h3>Plus</h3> -->
      <p>See <a href="{{ .Permalink }}"> all {{ .Title | pluralize }}</a></p>
    </div>
  {{ end }}
</section>
