{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex d-column content">
  <div class="my-auto">
    <h3><span>{{ .Params.authors }} - {{ .Params.date.Format "January 2006" }}</span></h3>
    <h2 class="mb-0"><span class="text-primary">{{ .Title }}</span></h2>
    <p><span>{{ .Params.description }}</span></p>
    <p><a href="{{ .Params.link }}">Link to full {{ lower .Params.pubtype }} </a></p>
    {{ with .Params.image }}<img src="{{ . }}" style="max-height:300px;max-width:30%;" align="right"/>{{ end }}
    {{ .Content }}
    <p class="mt-3">
    {{ partial "techtags" . }}
    </p>
  </div>
</section>
{{ end }}
